Question 1:

Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

Input Format:
The first line of the input contains an email address.

Output Format:
Print the company name in single line.

Example;
Input: john@google.com

Output: google

In [4]:
email = input("Enter email id")

def extract_company(email):
    return email.split('@')[-1].split('.')[0]

company = extract_company(email)

print(company)

Enter email idganesh@oogle.com
oogle

Question 2:
    
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.

Output Format:
Print the sorted words separated by the comma.

Example:
Input:
without,hello,bag,world

Output:
bag,hello,without,world

In [20]:
list1 = input("Enter the list items : ").split(',')
list2=[]
for i in list1:
    list2.append(i)
    
sorted(list2)

Enter the list items : without,hello,bag,world

['bag', 'hello', 'without', 'world']

Question 3:
    
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

# SET

### create set
thisset = {"apple", "banana", "cherry"}
print(thisset)

### access items
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)
  
### check for an element
Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

### adding an element
Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

### update multiple elements
Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

### length of a set
Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

### removal of an element
Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

### discard
Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

### pop
Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

### clear
The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

### delete
The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

### join 2 sets
The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

### update
The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

####  Note: Both union() and update() will exclude any duplicate items.

### set constructor
Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

Question 4:
    
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:
The first line contains n-1 numbers with each number separated by a space.

Output Format:
Print the missing number

Example:
Input:1 2 4 6 3 7 8
    
Output:5
    
Explanation:
    
In the above list of numbers 5 is missing and hence 5 is the input

In [22]:
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst] 

lst = [1, 2, 4, 6, 3, 7, 8] 
print(find_missing(lst))

[5]

Question 5:
    
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:
    
If the input list is
12 24 35 24 88 120 155 88 120 155

Then the output should be
12 24 35 88 120 155

Explanation:
    
Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:
In one line take the elements of the list L with each element separated by a space.

Output Format:
Print the elements of the modified list in one line with each element separated by a space.

Example:
    
Input: 12 24 35 24
    
Output:
12 24 35

In [25]:
# duplicate = [12, 24, 35, 24] 
# print(list(set(duplicate))) 


def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      
# Driver Code 
duplicate = [12, 24, 35, 24]
print(Remove(duplicate))

[12, 24, 35]